## Mental Health Effects of COVID

In [22]:
import pandas as pd
import os
from sodapy import Socrata

# cvs_output_file_path =  os.path.join("cvs_output.csv")

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cdc.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cdc.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("8pt5-q6wp", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,Apr 23 - May 5,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,Apr 23 - May 5,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,Apr 23 - May 5,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,Apr 23 - May 5,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,Apr 23 - May 5,23.2,21.5,25,21.5 - 25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1995,Symptoms of Anxiety Disorder,By State,Kansas,Kansas,10,July 2 - July 7,32.3,28.2,36.6,28.2 - 36.6,31.4-32.9
1996,Symptoms of Anxiety Disorder,By State,Kentucky,Kentucky,10,July 2 - July 7,36.3,31.2,41.6,31.2 - 41.6,35.4-40.6
1997,Symptoms of Anxiety Disorder,By State,Louisiana,Louisiana,10,July 2 - July 7,38.6,34.2,43.1,34.2 - 43.1,35.4-40.6
1998,Symptoms of Anxiety Disorder,By State,Maine,Maine,10,July 2 - July 7,32.8,29,36.7,29.0 - 36.7,31.4-32.9
1999,Symptoms of Anxiety Disorder,By State,Maryland,Maryland,10,July 2 - July 7,32.2,27.9,36.7,27.9 - 36.7,31.4-32.9

## Age DataFrames

In [23]:
us_by_age_df = results_df.loc[(results_df["state"] == "United States") &
                              (results_df["group"] == "By Age")]
    
us_by_age_trim_df = us_by_age_df[['indicator', 'state', 'subgroup', 'week', 'value']].copy()
us_by_age_trim_df['value'] = us_by_age_df['value'].astype(float)
us_by_age_trim_df['week'] = us_by_age_df['week'].astype(int)
us_by_age_trim_df

,indicator,state,subgroup,week,value
1,Symptoms of Depressive Disorder,United States,18 - 29 years,1,32.7
2,Symptoms of Depressive Disorder,United States,30 - 39 years,1,25.7
3,Symptoms of Depressive Disorder,United States,40 - 49 years,1,24.8
4,Symptoms of Depressive Disorder,United States,50 - 59 years,1,23.2
5,Symptoms of Depressive Disorder,United States,60 - 69 years,1,18.4
...,...,...,...,...,...
1963,Symptoms of Anxiety Disorder,United States,40 - 49 years,10,36.1
1964,Symptoms of Anxiety Disorder,United States,50 - 59 years,10,33.4
1965,Symptoms of Anxiety Disorder,United States,60 - 69 years,10,26.5
1966,Symptoms of Anxiety Disorder,United States,70 - 79 years,10,18.4
1967,Symptoms of Anxiety Disorder,United States,80 years and above,10,19.3

In [24]:
us_by_age_group = us_by_age_trim_df.groupby(["indicator", "week"])
us_by_age_mean_df = pd.DataFrame(us_by_age_group["value"].mean())
us_by_age_mean_df.reset_index(inplace = True) 
us_by_age_mean_df

                                            indicator  week      value
0                        Symptoms of Anxiety Disorder     1  27.942857
1                        Symptoms of Anxiety Disorder     2  26.985714
2                        Symptoms of Anxiety Disorder     3  25.342857
3                        Symptoms of Anxiety Disorder     4  27.042857
4                        Symptoms of Anxiety Disorder     5  27.700000
5                        Symptoms of Anxiety Disorder     6  28.085714
6                        Symptoms of Anxiety Disorder     7  28.771429
7                        Symptoms of Anxiety Disorder     8  27.785714
8                        Symptoms of Anxiety Disorder     9  30.057143
9                        Symptoms of Anxiety Disorder    10  31.242857
10  Symptoms of Anxiety Disorder or Depressive Dis...     1  33.228571
11  Symptoms of Anxiety Disorder or Depressive Dis...     2  31.185714
12  Symptoms of Anxiety Disorder or Depressive Dis...     3  30.900000
13  Symptoms of Anxiety Disorder or Depressive Dis...     4  31.685714
14  Symptoms of Anxiety Disorder or Depressive Dis...     5  32.614286
15  Symptoms of Anxiety Disorder or Depressive Dis...     6  32.971429
16  Symptoms of Anxiety Disorder or Depressive Dis...     7  32.885714
17  Symptoms of Anxiety Disorder or Depressive Dis...     8  32.414286
18  Symptoms of Anxiety Disorder or Depressive Dis...     9  34.800000
19                    Symptoms of Depressive Disorder     1  21.828571
20                    Symptoms of Depressive Disorder     2  21.771429
21                    Symptoms of Depressive Disorder     3  22.528571
22                    Symptoms of Depressive Disorder     4  23.300000
23                    Symptoms of Depressive Disorder     5  23.414286
24                    Symptoms of Depressive Disorder     6  23.471429
25                    Symptoms of Depressive Disorder     7  22.714286
26                    Symptoms of Depressive Disorder     8  23.114286
27                    Symptoms of Depressive Disorder     9  24.842857
28                    Symptoms of Depressive Disorder    10  25.942857

## States DataFrames

In [25]:
# subgroup filtered by United States
usa = results_df[results_df["subgroup"].isin(["United States"])]
usa.head()

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,Apr 23 - May 5,23.5,22.7,24.3,22.7 - 24.3,NaN
70,Symptoms of Anxiety Disorder,National Estimate,United States,United States,1,Apr 23 - May 5,30.8,30,31.7,30.0 - 31.7,NaN
140,Symptoms of Anxiety Disorder or Depressive Dis...,National Estimate,United States,United States,1,Apr 23 - May 5,35.9,35,36.8,35.0 - 36.8,NaN
210,Symptoms of Depressive Disorder,National Estimate,United States,United States,2,May 7 - May 12,24.1,23,25.2,23.0 - 25.2,NaN
280,Symptoms of Anxiety Disorder,National Estimate,United States,United States,2,May 7 - May 12,30,28.9,31,28.9 - 31.0,NaN

In [26]:
# Checking the number of data for United States.
usa_total = len(usa["state"])
usa_total

29

In [27]:
# subgroup filtered by Kansas and Missouri
ks_mo = results_df[results_df["subgroup"].isin(["Kansas", "Missouri"])]
ks_mo.head()

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
35,Symptoms of Depressive Disorder,By State,Kansas,Kansas,1,Apr 23 - May 5,22.1,18.3,26.4,18.3 - 26.4,20.8 - 22.1
44,Symptoms of Depressive Disorder,By State,Missouri,Missouri,1,Apr 23 - May 5,21,17.9,24.5,17.9 - 24.5,20.8 - 22.1
105,Symptoms of Anxiety Disorder,By State,Kansas,Kansas,1,Apr 23 - May 5,26.4,22,31.2,22.0 - 31.2,21.7 - 27.8
114,Symptoms of Anxiety Disorder,By State,Missouri,Missouri,1,Apr 23 - May 5,30.4,25.8,35.4,25.8 - 35.4,30.4 - 31.6
175,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Kansas,Kansas,1,Apr 23 - May 5,32.5,28.4,36.9,28.4 - 36.9,25.6 - 33.3

In [28]:
# Checking the number of data for Kansas and Missouri.
ks_mo_total = len(ks_mo["state"])
ks_mo_total

57

In [29]:
# subgroup filtered by only Kansas 
ks = results_df[results_df["subgroup"].isin(["Kansas"])]
ks.head()

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
35,Symptoms of Depressive Disorder,By State,Kansas,Kansas,1,Apr 23 - May 5,22.1,18.3,26.4,18.3 - 26.4,20.8 - 22.1
105,Symptoms of Anxiety Disorder,By State,Kansas,Kansas,1,Apr 23 - May 5,26.4,22,31.2,22.0 - 31.2,21.7 - 27.8
175,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Kansas,Kansas,1,Apr 23 - May 5,32.5,28.4,36.9,28.4 - 36.9,25.6 - 33.3
245,Symptoms of Depressive Disorder,By State,Kansas,Kansas,2,May 7 - May 12,16.7,12.8,21.2,12.8 - 21.2,16.7 - 20.6
315,Symptoms of Anxiety Disorder,By State,Kansas,Kansas,2,May 7 - May 12,25.1,20,30.9,20.0 - 30.9,20.3 - 26.2

In [30]:
# Checking the number of data for Kansas.
ks_total = len(ks["state"])
ks_total

29

In [31]:
# subgroup filtered by only Missouri 
mo = results_df[results_df["subgroup"].isin(["Missouri"])]
mo.head()

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
44,Symptoms of Depressive Disorder,By State,Missouri,Missouri,1,Apr 23 - May 5,21,17.9,24.5,17.9 - 24.5,20.8 - 22.1
114,Symptoms of Anxiety Disorder,By State,Missouri,Missouri,1,Apr 23 - May 5,30.4,25.8,35.4,25.8 - 35.4,30.4 - 31.6
184,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Missouri,Missouri,1,Apr 23 - May 5,35.2,30.2,40.4,30.2 - 40.4,34.8 - 36.7
254,Symptoms of Depressive Disorder,By State,Missouri,Missouri,2,May 7 - May 12,24.1,18.5,30.5,18.5 - 30.5,23.1 - 25.6
324,Symptoms of Anxiety Disorder,By State,Missouri,Missouri,2,May 7 - May 12,37.8,32.3,43.7,32.3 - 43.7,31.6 - 38.3

In [32]:
# Checking the number of data for Missouri.
mo_total = len(mo["state"])
mo_total

28

## KS & MO / National DataFrames

In [33]:
kansas_df = results_df.loc[results_df["state"] == "Kansas", :]
kansas_df['indicator'].value_counts()
kansas_df

missouri_df=results_df.loc[results_df['state']=='Missouri']
missouri_df

ks_mo=pd.merge(kansas_df,missouri_df, how='outer')
ks_mo

cleaned_KsMo=ks_mo[['indicator','state','week','value']].copy()
cleaned_KsMo

cleaned_KsMo['value']=cleaned_KsMo['value'].astype(float)

cleaned=cleaned_KsMo.groupby(['week','indicator'])
cleaned.count().head(10)

state_mean=cleaned['value'].mean()
final=pd.DataFrame({'KS & MO Average(%)':state_mean})
final.head()

                                                         KS & MO Average(%)
week indicator
1    Symptoms of Anxiety Disorder                                     28.40
     Symptoms of Anxiety Disorder or Depressive Diso...               33.85
     Symptoms of Depressive Disorder                                  21.55
10   Symptoms of Anxiety Disorder                                     32.30
     Symptoms of Depressive Disorder                                  25.15

In [34]:
all_states=results_df.loc[(results_df['state'] !='United States')]
all_states

cleaned_all_states=all_states[['indicator','state','week','value']].copy()
cleaned_all_states

cleaned_all_states['value']=cleaned_all_states['value'].astype(float)

cleanedAll=cleaned_all_states.groupby(['week','indicator'])
cleanedAll.count().head(10)

country_mean=cleanedAll['value'].mean()
final_total=pd.DataFrame({'National Average(%)':country_mean})
final_total.head()

                                                         National Average(%)
week indicator
1    Symptoms of Anxiety Disorder                                  29.609804
     Symptoms of Anxiety Disorder or Depressive Diso...            34.564706
     Symptoms of Depressive Disorder                               22.247059
10   Symptoms of Anxiety Disorder                                  33.633333
     Symptoms of Depressive Disorder                               26.639216

## Gender DataFrames

Gender Demographics: *Total of Gender data entries *Total of females *Total of males *The average of each value of week set by gender (could not do by state - group data was only given United States)

In [35]:
#create gender list to pull gender information only
#https://www.youtube.com/watch?v=3Kl5oaT0dP0
genderdata_df = results_df.loc[(results_df["group"] == "By Gender")]
genderdata_df

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
8,Symptoms of Depressive Disorder,By Gender,United States,Male,1,Apr 23 - May 5,20.8,19.6,22,19.6 - 22.0,NaN
9,Symptoms of Depressive Disorder,By Gender,United States,Female,1,Apr 23 - May 5,26.1,25.2,27.1,25.2 - 27.1,NaN
78,Symptoms of Anxiety Disorder,By Gender,United States,Male,1,Apr 23 - May 5,26.1,24.7,27.5,24.7 - 27.5,NaN
79,Symptoms of Anxiety Disorder,By Gender,United States,Female,1,Apr 23 - May 5,35.4,34.5,36.3,34.5 - 36.3,NaN
148,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Male,1,Apr 23 - May 5,31,29.6,32.3,29.6 - 32.3,NaN
149,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Female,1,Apr 23 - May 5,40.7,39.7,41.6,39.7 - 41.6,NaN
218,Symptoms of Depressive Disorder,By Gender,United States,Male,2,May 7 - May 12,22.3,20.6,24,20.6 - 24.0,NaN
219,Symptoms of Depressive Disorder,By Gender,United States,Female,2,May 7 - May 12,25.8,24.7,27,24.7 - 27.0,NaN
288,Symptoms of Anxiety Disorder,By Gender,United States,Male,2,May 7 - May 12,26.7,24.9,28.5,24.9 - 28.5,NaN
289,Symptoms of Anxiety Disorder,By Gender,United States,Female,2,May 7 - May 12,33.1,32,34.2,32.0 - 34.2,NaN
358,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Male,2,May 7 - May 12,31.4,29.5,33.3,29.5 - 33.3,NaN
359,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Female,2,May 7 - May 12,37.2,36.2,38.3,36.2 - 38.3,NaN
428,Symptoms of Depressive Disorder,By Gender,United States,Male,3,May 14 - May 19,22.1,21,23.3,21.0 - 23.3,NaN
429,Symptoms of Depressive Disorder,By Gender,United States,Female,3,May 14 - May 19,26.7,25.8,27.6,25.8 - 27.6,NaN
498,Symptoms of Anxiety Disorder,By Gender,United States,Male,3,May 14 - May 19,24.2,23.2,25.2,23.2 - 25.2,NaN
499,Symptoms of Anxiety Disorder,By Gender,United States,Female,3,May 14 - May 19,32.1,31,33.1,31.0 - 33.1,NaN
568,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Male,3,May 14 - May 19,29.9,28.7,31.1,28.7 - 31.1,NaN
569,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Female,3,May 14 - May 19,37.6,36.5,38.7,36.5 - 38.7,NaN
638,Symptoms of Depressive Disorder,By Gender,United States,Male,4,May 21 - May 26,22.7,21.5,24,21.5 - 24.0,NaN
639,Symptoms of Depressive Disorder,By Gender,United States,Female,4,May 21 - May 26,26.9,25.8,28,25.8 - 28.0,NaN
708,Symptoms of Anxiety Disorder,By Gender,United States,Male,4,May 21 - May 26,25.4,24.4,26.3,24.4 - 26.3,NaN
709,Symptoms of Anxiety Disorder,By Gender,United States,Female,4,May 21 - May 26,33.2,32.3,34.2,32.3 - 34.2,NaN
778,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Male,4,May 21 - May 26,30.3,29.1,31.5,29.1 - 31.5,NaN
779,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Female,4,May 21 - May 26,38.1,37,39.2,37.0 - 39.2,NaN
848,Symptoms of Depressive Disorder,By Gender,United States,Male,5,May 28 - June 2,23,22,23.9,22.0 - 23.9,NaN
849,Symptoms of Depressive Disorder,By Gender,United States,Female,5,May 28 - June 2,27.4,26.6,28.2,26.6 - 28.2,NaN
918,Symptoms of Anxiety Disorder,By Gender,United States,Male,5,May 28 - June 2,26,25.1,26.8,25.1 - 26.8,NaN
919,Symptoms of Anxiety Disorder,By Gender,United States,Female,5,May 28 - June 2,35,34.3,35.8,34.3 - 35.8,NaN
988,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Male,5,May 28 - June 2,31.1,30.2,32.1,30.2 - 32.1,NaN
989,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Female,5,May 28 - June 2,39.6,38.9,40.3,38.9 - 40.3,NaN
1058,Symptoms of Depressive Disorder,By Gender,United States,Male,6,June 4 - June 9,23.7,22.3,25.1,22.3 - 25.1,NaN
1059,Symptoms of Depressive Disorder,By Gender,United States,Female,6,June 4 - June 9,27.8,26.8,28.8,26.8 - 28.8,NaN
1128,Symptoms of Anxiety Disorder,By Gender,United States,Male,6,June 4 - June 9,26.8,25.4,28.4,25.4 - 28.4,NaN
1129,Symptoms of Anxiety Disorder,By Gender,United States,Female,6,June 4 - June 9,35.1,34.1,36.1,34.1 - 36.1,NaN
1198,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Male,6,June 4 - June 9,31.9,30.4,33.5,30.4 - 33.5,NaN
1199,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Female,6,June 4 - June 9,40,39,41,39.0 - 41.0,NaN
1268,Symptoms of Depressive Disorder,By Gender,United States,Male,7,June 11 - June 16,23.3,22.2,24.5,22.2 - 24.5,NaN
1269,Symptoms of Depressive Disorder,By Gender,United States,Female,7,June 11 - June 16,26.7,25.8,27.7,25.8 - 27.7,NaN
1338,Symptoms of Anxiety Disorder,By Gender,United States,Male,7,June 11 - June 16,28.1,27,29.3,27.0 - 29.3,NaN
1339,Symptoms of Anxiety Disorder,By Gender,United States,Female,7,June 11 - June 16,35,34.1,36,34.1 - 36.0,NaN
1408,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Male,7,June 11 - June 16,32.7,31.4,34,31.4 - 34.0,NaN
1409,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Female,7,June 11 - June 16,39.1,38.1,40.1,38.1 - 40.1,NaN
1478,Symptoms of Depressive Disorder,By Gender,United States,Male,8,June 18 - June 23,23.8,22.8,24.8,22.8 - 24.8,NaN
1479,Symptoms of Depressive Disorder,By Gender,United States,Female,8,June 18 - June 23,27.3,26.4,28.3,26.4 - 28.3,NaN
1548,Symptoms of Anxiety Disorder,By Gender,United States,Male,8,June 18 - June 23,27.4,26.5,28.4,26.5 - 28.4,NaN
1549,Symptoms of Anxiety Disorder,By Gender,United States,Female,8,June 18 - June 23,34.8,33.9,35.8,33.9 - 35.8,NaN
1618,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Male,8,June 18 - June 23,32.4,31.3,33.5,31.3 - 33.5,NaN
1619,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Female,8,June 18 - June 23,39.6,38.6,40.7,38.6 - 40.7,NaN
1688,Symptoms of Depressive Disorder,By Gender,United States,Male,9,June 25 - June 30,25,23.8,26.1,23.8 - 26.1,NaN
1689,Symptoms of Depressive Disorder,By Gender,United States,Female,9,June 25 - June 30,28.8,27.7,29.8,27.7 - 29.8,NaN
1758,Symptoms of Anxiety Disorder,By Gender,United States,Male,9,June 25 - June 30,29,27.9,30.1,27.9 - 30.1,NaN
1759,Symptoms of Anxiety Disorder,By Gender,United States,Female,9,June 25 - June 30,36.7,35.9,37.6,35.9 - 37.6,NaN
1828,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Male,9,June 25 - June 30,33.8,32.5,35.1,32.5 - 35.1,NaN
1829,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Female,9,June 25 - June 30,41.5,40.7,42.4,40.7 - 42.4,NaN
1898,Symptoms of Depressive Disorder,By Gender,United States,Male,10,July 2 - July 7,26.6,25.5,27.6,25.5 - 27.6,NaN
1899,Symptoms of Depressive Disorder,By Gender,United States,Female,10,July 2 - July 7,28.6,27.8,29.3,27.8 - 29.3,NaN
1968,Symptoms of Anxiety Disorder,By Gender,United States,Male,10,July 2 - July 7,30.7,29.6,31.9,29.6 - 31.9,NaN
1969,Symptoms of Anxiety Disorder,By Gender,United States,Female,10,July 2 - July 7,37,36.1,37.8,36.1 - 37.8,NaN

In [36]:
genderdata_df.groupby("group").count()

,indicator,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
group,,,,,,,,,,
By Gender,58,58,58,58,58,58,58,58,58,0

In [37]:
#Create female df
femalegender_df = genderdata_df.loc[(genderdata_df["subgroup"] == "Female")]
femalegender_df.head(3)

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
9,Symptoms of Depressive Disorder,By Gender,United States,Female,1,Apr 23 - May 5,26.1,25.2,27.1,25.2 - 27.1,NaN
79,Symptoms of Anxiety Disorder,By Gender,United States,Female,1,Apr 23 - May 5,35.4,34.5,36.3,34.5 - 36.3,NaN
149,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Female,1,Apr 23 - May 5,40.7,39.7,41.6,39.7 - 41.6,NaN

In [38]:
#how many females
femalegender_df.count()["subgroup"]

29

In [39]:
#Find the average of values for females through each week label set so Jessica can graph
femalegender_df['week'] = femalegender_df['week'].astype(int)
femalegender_df['value']=femalegender_df['value'].astype(float)
femalegender_df.groupby('week').mean()

C:\Users\dhire\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\dhire\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

          value
week
1     34.066667
2     32.033333
3     32.133333
4     32.733333
5     34.000000
6     34.300000
7     33.600000
8     33.900000
9     35.666667
10    32.800000

In [40]:
#Create male data only
malegender_df = genderdata_df.loc[(genderdata_df["subgroup"] == "Male")]
malegender_df.head(3)

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
8,Symptoms of Depressive Disorder,By Gender,United States,Male,1,Apr 23 - May 5,20.8,19.6,22,19.6 - 22.0,NaN
78,Symptoms of Anxiety Disorder,By Gender,United States,Male,1,Apr 23 - May 5,26.1,24.7,27.5,24.7 - 27.5,NaN
148,Symptoms of Anxiety Disorder or Depressive Dis...,By Gender,United States,Male,1,Apr 23 - May 5,31,29.6,32.3,29.6 - 32.3,NaN

In [41]:
#how many males
malegender_df.count()["subgroup"]

29

In [42]:
malegender_df['week'] = malegender_df['week'].astype(int)
malegender_df['value']=malegender_df['value'].astype(float)
malegender_df.groupby('week').mean()

C:\Users\dhire\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\dhire\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          value
week
1     25.966667
2     26.800000
3     25.400000
4     26.133333
5     26.700000
6     27.466667
7     28.033333
8     27.866667
9     29.266667
10    28.650000