## Mental Health Effects of COVID

In [1]:
import pandas as pd
import os
from sodapy import Socrata

# cvs_output_file_path =  os.path.join("cvs_output.csv")

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.cdc.gov", None)

# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.cdc.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("8pt5-q6wp", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,Apr 23 - May 5,23.5,22.7,24.3,22.7 - 24.3,NaN
1,Symptoms of Depressive Disorder,By Age,United States,18 - 29 years,1,Apr 23 - May 5,32.7,30.2,35.2,30.2 - 35.2,NaN
2,Symptoms of Depressive Disorder,By Age,United States,30 - 39 years,1,Apr 23 - May 5,25.7,24.1,27.3,24.1 - 27.3,NaN
3,Symptoms of Depressive Disorder,By Age,United States,40 - 49 years,1,Apr 23 - May 5,24.8,23.3,26.2,23.3 - 26.2,NaN
4,Symptoms of Depressive Disorder,By Age,United States,50 - 59 years,1,Apr 23 - May 5,23.2,21.5,25,21.5 - 25.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1995,Symptoms of Anxiety Disorder,By State,Kansas,Kansas,10,July 2 - July 7,32.3,28.2,36.6,28.2 - 36.6,31.4-32.9
1996,Symptoms of Anxiety Disorder,By State,Kentucky,Kentucky,10,July 2 - July 7,36.3,31.2,41.6,31.2 - 41.6,35.4-40.6
1997,Symptoms of Anxiety Disorder,By State,Louisiana,Louisiana,10,July 2 - July 7,38.6,34.2,43.1,34.2 - 43.1,35.4-40.6
1998,Symptoms of Anxiety Disorder,By State,Maine,Maine,10,July 2 - July 7,32.8,29,36.7,29.0 - 36.7,31.4-32.9
1999,Symptoms of Anxiety Disorder,By State,Maryland,Maryland,10,July 2 - July 7,32.2,27.9,36.7,27.9 - 36.7,31.4-32.9

## Age DataFrames

In [2]:
us_by_age_df = results_df.loc[(results_df["state"] == "United States") &
                              (results_df["group"] == "By Age")
    
us_by_age_trim_df = us_by_age_df[['indicator', 'state', 'subgroup', 'week', 'value']].copy()
us_by_age_trim_df['value'] = us_by_age_df['value'].astype(float)
us_by_age_trim_df['week'] = us_by_age_df['week'].astype(int)
us_by_age_trim_df

SyntaxError: invalid syntax (<ipython-input-2-3d710dafadba>, line 4)

In [3]:
us_by_age_group = us_by_age_trim_df.groupby(["indicator", "week"])
us_by_age_mean_df = pd.DataFrame(us_by_age_group["value"].mean())
us_by_age_mean_df.reset_index(inplace = True) 
us_by_age_mean_df

NameError: name 'us_by_age_trim_df' is not defined

## States DataFrames

In [4]:
# subgroup filtered by United States
usa = results_df[results_df["subgroup"].isin(["United States"])]
usa.head()

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
0,Symptoms of Depressive Disorder,National Estimate,United States,United States,1,Apr 23 - May 5,23.5,22.7,24.3,22.7 - 24.3,NaN
70,Symptoms of Anxiety Disorder,National Estimate,United States,United States,1,Apr 23 - May 5,30.8,30,31.7,30.0 - 31.7,NaN
140,Symptoms of Anxiety Disorder or Depressive Dis...,National Estimate,United States,United States,1,Apr 23 - May 5,35.9,35,36.8,35.0 - 36.8,NaN
210,Symptoms of Depressive Disorder,National Estimate,United States,United States,2,May 7 - May 12,24.1,23,25.2,23.0 - 25.2,NaN
280,Symptoms of Anxiety Disorder,National Estimate,United States,United States,2,May 7 - May 12,30,28.9,31,28.9 - 31.0,NaN

In [5]:
# Checking the number of data for United States.
usa_total = len(usa["state"])
usa_total

29

In [6]:
# subgroup filtered by Kansas and Missouri
ks_mo = results_df[results_df["subgroup"].isin(["Kansas", "Missouri"])]
ks_mo.head()

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
35,Symptoms of Depressive Disorder,By State,Kansas,Kansas,1,Apr 23 - May 5,22.1,18.3,26.4,18.3 - 26.4,20.8 - 22.1
44,Symptoms of Depressive Disorder,By State,Missouri,Missouri,1,Apr 23 - May 5,21,17.9,24.5,17.9 - 24.5,20.8 - 22.1
105,Symptoms of Anxiety Disorder,By State,Kansas,Kansas,1,Apr 23 - May 5,26.4,22,31.2,22.0 - 31.2,21.7 - 27.8
114,Symptoms of Anxiety Disorder,By State,Missouri,Missouri,1,Apr 23 - May 5,30.4,25.8,35.4,25.8 - 35.4,30.4 - 31.6
175,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Kansas,Kansas,1,Apr 23 - May 5,32.5,28.4,36.9,28.4 - 36.9,25.6 - 33.3

In [7]:
# Checking the number of data for Kansas and Missouri.
ks_mo_total = len(ks_mo["state"])
ks_mo_total

57

In [8]:
# subgroup filtered by only Kansas 
ks = results_df[results_df["subgroup"].isin(["Kansas"])]
ks.head()

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
35,Symptoms of Depressive Disorder,By State,Kansas,Kansas,1,Apr 23 - May 5,22.1,18.3,26.4,18.3 - 26.4,20.8 - 22.1
105,Symptoms of Anxiety Disorder,By State,Kansas,Kansas,1,Apr 23 - May 5,26.4,22,31.2,22.0 - 31.2,21.7 - 27.8
175,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Kansas,Kansas,1,Apr 23 - May 5,32.5,28.4,36.9,28.4 - 36.9,25.6 - 33.3
245,Symptoms of Depressive Disorder,By State,Kansas,Kansas,2,May 7 - May 12,16.7,12.8,21.2,12.8 - 21.2,16.7 - 20.6
315,Symptoms of Anxiety Disorder,By State,Kansas,Kansas,2,May 7 - May 12,25.1,20,30.9,20.0 - 30.9,20.3 - 26.2

In [9]:
# Checking the number of data for Kansas.
ks_total = len(ks["state"])
ks_total

29

In [10]:
# subgroup filtered by only Missouri 
mo = results_df[results_df["subgroup"].isin(["Missouri"])]
mo.head()

,indicator,group,state,subgroup,week,week_label,value,lowci,highci,confidence_interval,quartile_range
44,Symptoms of Depressive Disorder,By State,Missouri,Missouri,1,Apr 23 - May 5,21,17.9,24.5,17.9 - 24.5,20.8 - 22.1
114,Symptoms of Anxiety Disorder,By State,Missouri,Missouri,1,Apr 23 - May 5,30.4,25.8,35.4,25.8 - 35.4,30.4 - 31.6
184,Symptoms of Anxiety Disorder or Depressive Dis...,By State,Missouri,Missouri,1,Apr 23 - May 5,35.2,30.2,40.4,30.2 - 40.4,34.8 - 36.7
254,Symptoms of Depressive Disorder,By State,Missouri,Missouri,2,May 7 - May 12,24.1,18.5,30.5,18.5 - 30.5,23.1 - 25.6
324,Symptoms of Anxiety Disorder,By State,Missouri,Missouri,2,May 7 - May 12,37.8,32.3,43.7,32.3 - 43.7,31.6 - 38.3

In [11]:
# Checking the number of data for Missouri.
mo_total = len(mo["state"])
mo_total

28

## KS &MO / National DataFrames

In [12]:
kansas_df = results_df.loc[results_df["state"] == "Kansas", :]
kansas_df['indicator'].value_counts()
kansas_df

missouri_df=results_df.loc[results_df['state']=='Missouri']
missouri_df

ks_mo=pd.merge(kansas_df,missouri_df, how='outer')
ks_mo

cleaned_KsMo=ks_mo[['indicator','state','week','value']]
cleaned_KsMo

cleaned_KsMo['value']=cleaned_KsMo['value'].astype(float)

cleaned=cleaned_KsMo.groupby(['week','indicator'])
cleaned.count().head(10)

state_mean=cleaned['value'].mean()
final=pd.DataFrame({'KS & MO Average(%)':state_mean})
final.head()

C:\Users\dhire\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                                                         KS & MO Average(%)
week indicator
1    Symptoms of Anxiety Disorder                                     28.40
     Symptoms of Anxiety Disorder or Depressive Diso...               33.85
     Symptoms of Depressive Disorder                                  21.55
10   Symptoms of Anxiety Disorder                                     32.30
     Symptoms of Depressive Disorder                                  25.15

In [13]:
all_states=results_df.loc[(results_df['state'] !='United States')]
all_states

cleaned_all_states=all_states[['indicator','state','week','value']]
cleaned_all_states

cleaned_all_states['value']=cleaned_all_states['value'].astype(float)

cleanedAll=cleaned_all_states.groupby(['week','indicator'])
cleanedAll.count().head(10)

country_mean=cleanedAll['value'].mean()
final_total=pd.DataFrame({'National Average(%)':country_mean})
final_total.head()

C:\Users\dhire\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

                                                         National Average(%)
week indicator
1    Symptoms of Anxiety Disorder                                  29.609804
     Symptoms of Anxiety Disorder or Depressive Diso...            34.564706
     Symptoms of Depressive Disorder                               22.247059
10   Symptoms of Anxiety Disorder                                  33.633333
     Symptoms of Depressive Disorder                               26.639216